* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 25px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(21, 37, 54, 0.8) !important;
}
